<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="person" version="2.4">
  
  <!-- This is responsible for creating
   spring root web container
    /WEB-INF/applicationContext.xml
   -->
   <!-- Below is the name of the spring configuration file
   	which will read by ContextLoaderListener
    -->
   <context-param>
   		<param-name>contextConfigLocation</param-name>
   		<param-value>/WEB-INF/spring-context/spring-root-web-appication-context.xml</param-value> 
   </context-param>
   
  <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  	   <!-- 
	WSServlet will forward your request to soap web service container
	against requested url-pattern weatherSoapProvider
	WSServlet is creating web service container where your all
	web services will be up and running
	 -->
	<servlet>
        <servlet-name>metro</servlet-name>
        <servlet-class>
                com.sun.xml.ws.transport.http.servlet.WSSpringServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>metro</servlet-name>
        <url-pattern>/passportSoapEndpoint</url-pattern>
          </servlet-mapping>
          
              <servlet-mapping>
        <servlet-name>metro</servlet-name>
        <url-pattern>/factorialEndpoint</url-pattern>
          </servlet-mapping>
  
</web-app>
